.celdas {
    border-style: inset;
    text-align: center;
    font-weight: bold;
}

.celdas-vacias {
    background-color: white;
    text-decoration-color: white;
    border-style: none;
}

.fuentes {
    text-align: center;
    font-weight: bold;
}

.celdas-opcion {
    border-style: solid;
    text-align: center;
}

.vacio {
    background-color: gray;
}

.alcalinos {
    background-color: #D680FE;
}

.alcalinoterreos {
    background-color: #DEAFF4;
}

.metales {
    background-color: #E7B116;
}

.lantanidos {
    background-color: #D78D29;
}

.actinidos {
    background-color: #C76752;
}

.otros-metales {
    background-color: #F9F60A;
}

.metaloides {
    background-color: #CFED5E;
}

.otros-no-metales {
    background-color: #89AF61;
}

.halogenos {
    background-color: #8BD8C8;
}

.gases-nobles {
    background-color: #9FD9FA;
}